html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
vertical-align: baseline;
}

a{
	color: #3e484e;
}

section{
	position: relative;
	z-index: 1;
}

section h2{
	font-family: ClanWeb-Book, sans-serif;	
	font-size: 55px;
	margin: 60px 0;
	text-align: center;
	color: #3e484e;
}

a.btn{
	display: block;
	width: 250px;
	background: #4fc6eb;
	font-family: ClanWeb-Medium, sans-serif;	
	font-size: 1.2em;
	text-decoration: none;
	text-align: center;
	padding: 20px 10px;
}

a.btn:hover{
	background: #3ea0bf;
}

.grid-12 a.btn{
	margin: 0 auto;
}

section#topo{
	height: 75px;
	overflow: auto;
	padding: 35px 0 0px 0;
	background: #FFF;
}

a.logo{
	display: block;
	float: left;
	width: 229px;
	height: 40px;
	background:url(../images/logo.png) no-repeat;
	text-indent: -999999px;
}

nav{
	padding:14px 0 0 0;
	float: right;
	font-size: .8em;
}

nav a{
	margin:0 0 0 20px;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}

nav a span{
	font-family: ClanWeb-Medium, sans-serif;	
}

section#hero{
	height: 400px;
	background:url(../images/bg-hero.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
}

section#hero h2, section#hero h3{
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
} 

section#hero h2{
	width: 600px;
	margin:50px 0 0 0;
	text-align: left;
	letter-spacing: -3px;
	line-height: 58px;
}

section#hero h3{
	font-family: ClanWeb-Book, sans-serif;	
	font-size: 24px;
	width: 620px;
	margin:20px 0 30px 0;
}

.container.fb .fb-like{
	margin: 20px 0 0 0;
	color: #FFF;
}

section#hero h3 span{
	font-family: ClanWeb-Medium, sans-serif;
}

section#content .como-funciona{
	background: url(../images/line.png) no-repeat 0 277px;
}

section#content .grid-2{
	height: 300px;
	text-align: center;
	background: url(../images/timeline.png) no-repeat center 70px;
}

section#content .como-funciona img{
	margin:110px 0 20px 0;
}

section#content .como-funciona p{
	font-size: .8em;
}

section#content .como-funciona span{
	display: block;
}

section#content .facilidades ul{
	list-style: none;
}

section#content .facilidades li{
	text-align: center;
	margin: 0 0 80px 0;
}

section#content .facilidades li p{
	font-family: ClanWeb-Book, sans-serif;
	font-size: 22px;
	padding:20px 5px;
}

section#content .facilidades li img{
	margin: 0 0 20px 0;
}

section#form{
	padding:20px 0 60px 0;
	background: #3e484e;
}

section#form form{
	padding:20px 0;
	text-align: center;
}

input{
	font-family: ClanWeb-Medium, sans-serif;
	font-size: 1em;
	margin:0 10px 0 0;
	color: #3e3c36;
}

input[type=text],
input[type=email],
input[type=tel]{
	padding:10px;
}

input[type=submit],
input#btn-submit{
	border:0;
	background: #4fc6eb;
	padding:12px;
	width: 220px;
}

section#form h2{
	color: #FFF;
	margin: 20px 0;
	font-size: 2.5em;
}

section#footer{
	background: #141719;
	color:#999;
	padding:30px 0;
	font-size: .9em;
}

section#footer a{
	color: #4fc6eb;
}

section#footer p{
	margin:3px 0 0 0;
}

section#footer .fb-like{
	float: right;
	margin:-15px 0 0;
}

.logo-mini{
	float: left;
	margin:0 12px 0 0;
}

.thanks{
	min-height: 600px;
	background: url(../images/bg-thanks.jpg) no-repeat;
	background-size: cover;
	text-align: center;	
}

.thanks h3{
	font-family: ClanWeb-Medium, sans-serif;
	font-size: 1.6em;	
}