.grid-1{ width: 60px; }
.grid-2{ width: 140px; }
.grid-3{ width: 220px; }
.grid-4{ width: 300px; }
.grid-5{ width: 380px; }
.grid-6{ width: 460px; }
.grid-7{ width: 540px; }
.grid-8{ width: 620px; }
.grid-9{ width: 700px; }
.grid-10{ width: 780px; }
.grid-11{ width: 860px; }
.grid-12{ width: 940px; }

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12{ margin-right: 10px; float: left;}


.container{
	width: 940px;
	margin: 0 auto;
	overflow: auto;
	padding:0 20px;
}

/*.container :last-child{ margin-right: 0 !important;}*/